@font-face {
  font-family: "Talk Iconfonts";
  src: url('../fonts/talk-iconfonts.eot?v=0.2.4');
  src: url('../fonts/talk-iconfonts.eot?v=0.2.4#iefix') format('embedded-opentype'),
       url('../fonts/talk-iconfonts.woff2?v=0.2.4') format('woff2'),
       url('../fonts/talk-iconfonts.woff?v=0.2.4') format('woff'),
       url('../fonts/talk-iconfonts.ttf?v=0.2.4') format('truetype'),
       url('../fonts/talk-iconfonts.svg?v=0.2.4#talk-iconfonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ti {
  display: inline-block;
  font: normal normal normal 16px/1 "Talk Iconfonts";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


  .ti-android:before {
    content: "\EA01"
  }

  .ti-apple:before {
    content: "\EA02"
  }

  .ti-arrow-down:before {
    content: "\EA03"
  }

  .ti-arrow-left:before {
    content: "\EA04"
  }

  .ti-arrow-right:before {
    content: "\EA05"
  }

  .ti-arrow-up:before {
    content: "\EA06"
  }

  .ti-at:before {
    content: "\EA07"
  }

  .ti-brush:before {
    content: "\EA08"
  }

  .ti-case:before {
    content: "\EA09"
  }

  .ti-chain:before {
    content: "\EA0A"
  }

  .ti-chats:before {
    content: "\EA0B"
  }

  .ti-chevron-down:before {
    content: "\EA0C"
  }

  .ti-chevron-left:before {
    content: "\EA0D"
  }

  .ti-chevron-right:before {
    content: "\EA0E"
  }

  .ti-chevron-up:before {
    content: "\EA0F"
  }

  .ti-chrome:before {
    content: "\EA10"
  }

  .ti-cloud-upload:before {
    content: "\EA11"
  }

  .ti-cog:before {
    content: "\EA12"
  }

  .ti-computer:before {
    content: "\EA13"
  }

  .ti-emoji:before {
    content: "\EA14"
  }

  .ti-face:before {
    content: "\EA14"
  }

  .ti-eye:before {
    content: "\EA15"
  }

  .ti-idea:before {
    content: "\EA16"
  }

  .ti-lamp-bulb:before {
    content: "\EA16"
  }

  .ti-jianliao:before {
    content: "\EA17"
  }

  .ti-linux:before {
    content: "\EA18"
  }

  .ti-markdown-solid:before {
    content: "\EA19"
  }

  .ti-markdown:before {
    content: "\EA1A"
  }

  .ti-menu:before {
    content: "\EA1B"
  }

  .ti-mute:before {
    content: "\EA1C"
  }

  .ti-open-drawer:before {
    content: "\EA1D"
  }

  .ti-paperclip-lean:before {
    content: "\EA1E"
  }

  .ti-paperclip:before {
    content: "\EA1F"
  }

  .ti-pencil:before {
    content: "\EA20"
  }

  .ti-pin:before {
    content: "\EA21"
  }

  .ti-plus:before {
    content: "\EA22"
  }

  .ti-pre:before {
    content: "\EA23"
  }

  .ti-print:before {
    content: "\EA24"
  }

  .ti-private-chat-solid:before {
    content: "\EA25"
  }

  .ti-private-chat:before {
    content: "\EA26"
  }

  .ti-redirect:before {
    content: "\EA27"
  }

  .ti-refresh:before {
    content: "\EA28"
  }

  .ti-remove:before {
    content: "\EA29"
  }

  .ti-rich-text:before {
    content: "\EA2A"
  }

  .ti-roster:before {
    content: "\EA2B"
  }

  .ti-search:before {
    content: "\EA2C"
  }

  .ti-shape:before {
    content: "\EA2D"
  }

  .ti-star:before {
    content: "\EA2E"
  }

  .ti-tag:before {
    content: "\EA2F"
  }

  .ti-tick:before {
    content: "\EA30"
  }

  .ti-trash:before {
    content: "\EA31"
  }

  .ti-user:before {
    content: "\EA32"
  }

  .ti-users:before {
    content: "\EA33"
  }

  .ti-wechat:before {
    content: "\EA34"
  }

  .ti-weibo:before {
    content: "\EA35"
  }

  .ti-windows:before {
    content: "\EA36"
  }

  .ti-zhihu:before {
    content: "\EA37"
  }
