@font-face {
  font-family: "Talk Iconfonts";
  src: url('../fonts/talk-iconfonts.eot?v=1.0.6');
  src: url('../fonts/talk-iconfonts.eot?v=1.0.6#iefix') format('embedded-opentype'),
       url('../fonts/talk-iconfonts.woff2?v=1.0.6') format('woff2'),
       url('../fonts/talk-iconfonts.woff?v=1.0.6') format('woff'),
       url('../fonts/talk-iconfonts.ttf?v=1.0.6') format('truetype'),
       url('../fonts/talk-iconfonts.svg?v=1.0.6#talk-iconfonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ti {
  display: inline-block;
  font-family: "Talk Iconfonts";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


  .ti-activity:before {
    content: "\EA01"
  }

  .ti-alert-circle-solid:before {
    content: "\EA02"
  }

  .ti-alert-circle:before {
    content: "\EA03"
  }

  .ti-alert-solid:before {
    content: "\EA04"
  }

  .ti-alert:before {
    content: "\EA05"
  }

  .ti-android:before {
    content: "\EA06"
  }

  .ti-apple:before {
    content: "\EA07"
  }

  .ti-arrow-down-circle:before {
    content: "\EA08"
  }

  .ti-download:before {
    content: "\EA08"
  }

  .ti-arrow-down-circle-solid:before {
    content: "\EA09"
  }

  .ti-download-solid:before {
    content: "\EA09"
  }

  .ti-arrow-down:before {
    content: "\EA0A"
  }

  .ti-arrow-left-circle-solid:before {
    content: "\EA0B"
  }

  .ti-arrow-left-circle:before {
    content: "\EA0C"
  }

  .ti-arrow-left:before {
    content: "\EA0D"
  }

  .ti-arrow-right-circle-solid:before {
    content: "\EA0E"
  }

  .ti-arrow-right-circle:before {
    content: "\EA0F"
  }

  .ti-arrow-right:before {
    content: "\EA10"
  }

  .ti-arrow-up-circle:before {
    content: "\EA11"
  }

  .ti-upload:before {
    content: "\EA11"
  }

  .ti-arrow-up-circle-solid:before {
    content: "\EA12"
  }

  .ti-upload-solid:before {
    content: "\EA12"
  }

  .ti-arrow-up:before {
    content: "\EA13"
  }

  .ti-at:before {
    content: "\EA14"
  }

  .ti-bell:before {
    content: "\EA15"
  }

  .ti-bot:before {
    content: "\EA16"
  }

  .ti-bottle:before {
    content: "\EA17"
  }

  .ti-box-open:before {
    content: "\EA18"
  }

  .ti-brush:before {
    content: "\EA19"
  }

  .ti-calendar:before {
    content: "\EA1A"
  }

  .ti-camera:before {
    content: "\EA1B"
  }

  .ti-case:before {
    content: "\EA1C"
  }

  .ti-chain:before {
    content: "\EA1D"
  }

  .ti-chats:before {
    content: "\EA1E"
  }

  .ti-chevron-down:before {
    content: "\EA1F"
  }

  .ti-chevron-left:before {
    content: "\EA20"
  }

  .ti-chevron-right:before {
    content: "\EA21"
  }

  .ti-chevron-up:before {
    content: "\EA22"
  }

  .ti-chrome:before {
    content: "\EA23"
  }

  .ti-cloud-upload:before {
    content: "\EA24"
  }

  .ti-cog-solid:before {
    content: "\EA25"
  }

  .ti-cog:before {
    content: "\EA26"
  }

  .ti-collection:before {
    content: "\EA27"
  }

  .ti-comment:before {
    content: "\EA28"
  }

  .ti-compass:before {
    content: "\EA29"
  }

  .ti-computer:before {
    content: "\EA2A"
  }

  .ti-crown:before {
    content: "\EA2B"
  }

  .ti-diamond:before {
    content: "\EA2C"
  }

  .ti-edit:before {
    content: "\EA2D"
  }

  .ti-ellipsis-vertical:before {
    content: "\EA2E"
  }

  .ti-ellipsis:before {
    content: "\EA2F"
  }

  .ti-emoji:before {
    content: "\EA30"
  }

  .ti-face:before {
    content: "\EA30"
  }

  .ti-export:before {
    content: "\EA31"
  }

  .ti-eye-slash:before {
    content: "\EA32"
  }

  .ti-eye-solid:before {
    content: "\EA33"
  }

  .ti-eye:before {
    content: "\EA34"
  }

  .ti-feedback:before {
    content: "\EA35"
  }

  .ti-file-fail:before {
    content: "\EA36"
  }

  .ti-file-holder:before {
    content: "\EA37"
  }

  .ti-file:before {
    content: "\EA38"
  }

  .ti-files:before {
    content: "\EA39"
  }

  .ti-forward:before {
    content: "\EA3A"
  }

  .ti-share:before {
    content: "\EA3A"
  }

  .ti-github:before {
    content: "\EA3B"
  }

  .ti-heart:before {
    content: "\EA3C"
  }

  .ti-like:before {
    content: "\EA3C"
  }

  .ti-heart-solid:before {
    content: "\EA3D"
  }

  .ti-like-solid:before {
    content: "\EA3D"
  }

  .ti-help-solid:before {
    content: "\EA3E"
  }

  .ti-help:before {
    content: "\EA3F"
  }

  .ti-home:before {
    content: "\EA40"
  }

  .ti-horn:before {
    content: "\EA41"
  }

  .ti-idea:before {
    content: "\EA42"
  }

  .ti-lamp-bulb-lean:before {
    content: "\EA42"
  }

  .ti-image:before {
    content: "\EA43"
  }

  .ti-info-solid:before {
    content: "\EA44"
  }

  .ti-info:before {
    content: "\EA45"
  }

  .ti-jianliao:before {
    content: "\EA46"
  }

  .ti-ladder:before {
    content: "\EA47"
  }

  .ti-lamp-bulb:before {
    content: "\EA48"
  }

  .ti-language:before {
    content: "\EA49"
  }

  .ti-laptop:before {
    content: "\EA4A"
  }

  .ti-launch-calendar:before {
    content: "\EA4B"
  }

  .ti-launch:before {
    content: "\EA4C"
  }

  .ti-leave:before {
    content: "\EA4D"
  }

  .ti-log-out:before {
    content: "\EA4D"
  }

  .ti-life-belt:before {
    content: "\EA4E"
  }

  .ti-linux:before {
    content: "\EA4F"
  }

  .ti-lock-solid:before {
    content: "\EA50"
  }

  .ti-lock:before {
    content: "\EA51"
  }

  .ti-loop:before {
    content: "\EA52"
  }

  .ti-mail:before {
    content: "\EA53"
  }

  .ti-map-marker:before {
    content: "\EA54"
  }

  .ti-markdown-solid:before {
    content: "\EA55"
  }

  .ti-markdown:before {
    content: "\EA56"
  }

  .ti-member:before {
    content: "\EA57"
  }

  .ti-user:before {
    content: "\EA57"
  }

  .ti-menu:before {
    content: "\EA58"
  }

  .ti-mobile:before {
    content: "\EA59"
  }

  .ti-mute:before {
    content: "\EA5A"
  }

  .ti-bell-slash:before {
    content: "\EA5A"
  }

  .ti-open-drawer:before {
    content: "\EA5B"
  }

  .ti-paperclip-lean:before {
    content: "\EA5C"
  }

  .ti-paperclip:before {
    content: "\EA5D"
  }

  .ti-pause:before {
    content: "\EA5E"
  }

  .ti-pencil:before {
    content: "\EA5F"
  }

  .ti-pin:before {
    content: "\EA60"
  }

  .ti-play:before {
    content: "\EA61"
  }

  .ti-plus-circle-solid:before {
    content: "\EA62"
  }

  .ti-plus-circle:before {
    content: "\EA63"
  }

  .ti-plus:before {
    content: "\EA64"
  }

  .ti-poop:before {
    content: "\EA65"
  }

  .ti-popsicle-bitten:before {
    content: "\EA66"
  }

  .ti-popsicle:before {
    content: "\EA67"
  }

  .ti-pre:before {
    content: "\EA68"
  }

  .ti-print:before {
    content: "\EA69"
  }

  .ti-private-chat-solid:before {
    content: "\EA6A"
  }

  .ti-private-chat:before {
    content: "\EA6B"
  }

  .ti-qrcode:before {
    content: "\EA6C"
  }

  .ti-recent:before {
    content: "\EA6D"
  }

  .ti-redirect-circle-solid:before {
    content: "\EA6E"
  }

  .ti-redirect-circle:before {
    content: "\EA6F"
  }

  .ti-redirect:before {
    content: "\EA70"
  }

  .ti-remove-circle-solid:before {
    content: "\EA71"
  }

  .ti-remove-circle:before {
    content: "\EA72"
  }

  .ti-remove:before {
    content: "\EA73"
  }

  .ti-rich-text:before {
    content: "\EA74"
  }

  .ti-roster:before {
    content: "\EA75"
  }

  .ti-rotate-left:before {
    content: "\EA76"
  }

  .ti-refresh:before {
    content: "\EA76"
  }

  .ti-rotate-right:before {
    content: "\EA77"
  }

  .ti-search:before {
    content: "\EA78"
  }

  .ti-share-alt:before {
    content: "\EA79"
  }

  .ti-sharp:before {
    content: "\EA7A"
  }

  .ti-square:before {
    content: "\EA7B"
  }

  .ti-inte:before {
    content: "\EA7B"
  }

  .ti-star-solid:before {
    content: "\EA7C"
  }

  .ti-star:before {
    content: "\EA7D"
  }

  .ti-tag-ellipsis:before {
    content: "\EA7E"
  }

  .ti-tag-solid:before {
    content: "\EA7F"
  }

  .ti-tag:before {
    content: "\EA80"
  }

  .ti-teambition-circle-solid:before {
    content: "\EA81"
  }

  .ti-teambition-solid:before {
    content: "\EA82"
  }

  .ti-teambition:before {
    content: "\EA83"
  }

  .ti-tick-circle-solid:before {
    content: "\EA84"
  }

  .ti-tick-circle:before {
    content: "\EA85"
  }

  .ti-tick:before {
    content: "\EA86"
  }

  .ti-trash:before {
    content: "\EA87"
  }

  .ti-user-add:before {
    content: "\EA88"
  }

  .ti-users:before {
    content: "\EA89"
  }

  .ti-voice:before {
    content: "\EA8A"
  }

  .ti-wave:before {
    content: "\EA8B"
  }

  .ti-wechat:before {
    content: "\EA8C"
  }

  .ti-weibo:before {
    content: "\EA8D"
  }

  .ti-windows:before {
    content: "\EA8E"
  }

  .ti-wrench:before {
    content: "\EA8F"
  }

  .ti-zhihu:before {
    content: "\EA90"
  }
