<html>
  <head>
    <meta charset="utf-8">
    <title>Talk Iconfonts</title>
    <link href="./lib/css/<%= fontName %>.css" rel="stylesheet">
  </head>
  <body>
    <% _.each(glyphTypes, function(glyphs, type) { %>
      <h1><%= type %></h1>
      <ul><% _.each(glyphs, function(glyph) { %>
        <li>
          <i class="<%= className %> <%= className %>-<%= glyph.name %>"></i>
          <span><%= className %> <%= className %>-<%= glyph.name %></span>
          <span><%= glyph.unicode %></span>
        </li><% }); %>
      </ul>
    <% }); %>
  </body>
</html>
