@font-face {
  font-family: "<%= fontName %>";
  font-style: normal;
  font-weight: normal;
  src: url("<%= fontPath %><%= fontName %>.eot");
  src: url("<%= fontPath %><%= fontName %>.eot?#iefix") format("eot"),
       url("<%= fontPath %><%= fontName %>.svg#<%= fontName %>") format("svg"),
       url("<%= fontPath %><%= fontName %>.ttf") format("truetype"),
       url("<%= fontPath %><%= fontName %>.woff") format("woff"),
       url("<%= fontPath %><%= fontName %>.woff2") format("woff2");
}

.<%= className %> {
  display: inline-block;
  font-family: "<%= fontName %>" !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

<% _.each(glyphTypes, function(glyphs, type) { %>
<% _.each(glyphs, function(glyph) { %>
  .<%= className %>-<%= glyph.name %>:before {
    content: "\<%= glyph.unicode %>"
  }
<% }); %><% }); %>
